* {
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*nav {
    width: 100%;
    height: 8%;
    background-color: #111111;
    color: #f9f9f9;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    float: left;
    border-bottom: #252525 1px solid;
    -webkit-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.75);
}

nav .logo {
    width: 20%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoholder {
    width: 60%;
    height: 80%;
    background-image: url('../img/logo.png');
    background-size: 100% 100%;
    background-position: center;

}

.logoholder:hover {
    cursor: pointer;
}

nav ul{
    float: left;
    width: 80%;
    height: 100%;
}

nav ul li{
    list-style: none;
    width: 10%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 6px rgba(43, 43, 43, 1);
}

nav ul li .navcontainer {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 80%;
    height: 60%;
}
nav ul li .navcontainer:hover {
    background-color: #222;
    cursor: pointer;
    color: #f84a53 !important;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover {
    color: #f84a53;
}
.loginbtn {
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.loginbtn button {
    letter-spacing: 1.5px;
    width: 80%;
    height: 50%;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: large;
    background: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    border: 0px;
}
.loginbtn button:hover {
    cursor: pointer;
} */

.video-container {
    z-index: -1;
    position: absolute;
    top: -12.5%;
    left: -5%;
    width: 110%;
    height: 130%;
    object-fit: contain;
    display: inline-block;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(38,38,38,1) 55%, rgba(0,0,0,1) 100%);
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
}

.noselect {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-text {
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    color: #f9f9f9;
    width: 60%;
    height: 20%;
    left: 20%;
    text-align: center;
    top: 40%;
    text-shadow: 2px 2px 5px #000000;
    text-transform: uppercase;
    z-index: 1;
}

.container-button {
    position: absolute;
    width: 15%;
    height: 10%;
    left: 42.5%;
    top: 50%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.button-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #555;
    z-index: 1;
}
.container-button button {
    width: 95%;
    height: 90%;
    font-family: 'Oswald', sans-serif;
    border: 0px;
    color: #fff;
    font-size: 1.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    /*background-color: #dc495b;*/

    background: #ff4755; /* default color */

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #ff4755 50%, #0e1923 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
    transform: skewX(-10deg);
    border-radius: 10px;
    z-index: 1;
    -webkit-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.75);
}

.container-button button:hover {
    background-position: left;
    cursor: pointer;
}

/*
.login {
    margin-left: 20%;
    margin-top: 15%;
    height: 40%;
    width: 60%;
    background-color: #0e1923;
    border-top: 2px solid #5e5d61;
    border-bottom: 2px solid #5e5d61;
    -webkit-box-shadow: 0px 0px 150px 100px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 150px 100px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 150px 100px rgba(0,0,0,0.65);
    z-index: 1;
}

.container-login {
    z-index: 0;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.close-container {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.close-container button {
    width: 50px;
    height: 50px;
    writing-mode: horizontal-tb !important;
    background-color: #0e1923;
    border: 0px;
}

.container-login button:hover {
    cursor: pointer;
}

.svg-icon {
    width: 90%;
    height: 90%;
    background-color: #0e1923;
}

.svg-icon:hover {
    width: 95%;
    height: 95%;
    transition: .4 ease-in-out;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #6b6b6b;
    background-color: #0e1923;
}

.svg-icon circle {
    stroke: #6b6b6b;
    stroke-width: 0.5;
    background-color: #0e1923;
}
.login-content {
    height: 80%;
    width: 100%;
}

.login-content button {
    width: 175px;
    height: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: inset;
    border: 1px solid rgba(236,232,225,.3);
}
.c-register-btn {
    font-family: 'Oswald', sans-serif;
    border: 0px;
    color: #222;
    font-size: 1.2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    height: 75%;
    width: 90%;
    background: #ff4755;
    background: linear-gradient(to left, #e4e4e4 50%, #0e1923 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-login-btn{
    font-family: 'Oswald', sans-serif;
    border: 0px;
    color: #fff;
    font-size: 1.2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    height: 75%;
    width: 90%;
    background: #ff4755;
    background: linear-gradient(to left, #ff4755 50%, #0e1923 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-register-btn:hover {
    background-position: left;
    cursor: pointer;
    color: #f9f9f9;
    transition: .4s ease-out;
}

.c-login-btn:hover {
    background-position: left;
    cursor: pointer;
}

.c-register, .c-login {
    border-top: 1px solid rgba(236,232,225,.3);
    margin-top: 10%;
    width: 50%;
    height: 80%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-register-text, .c-login-text {
    position: absolute;
    color: #f9f9f9;
    margin-top: -5.5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.7em;
}

.login-wrapper-logo {
    position: absolute;
    width: 25%;
    height: 10%;
    left: 37.5%;
}
.login-wrapper-logo-container {
    width: 100%;
    height: 100%;
    background-image: url('../img/logo.png');
    background-size: 100% 100%;
    background-position: center;
}*/